@model AccountRegisterViewModel
<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="validationDefault01">Nombre</label>
            <input asp-for="FirstName" type="text" class="form-control" id="validationDefault01" placeholder="">
            <small id="NombreHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <span asp-validation-for="FirstName"></span>

            <label for="validationDefault02">Apellido</label>
            <input asp-for="LastName" type="text" class="form-control" id="validationDefault02" placeholder="">
            <span asp-validation-for="LastName"></span>

            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" type="text" class="form-control" id="validationDefault02" placeholder="">
            <span asp-validation-for="UserName"></span>

            <label for="validationDefault02">Password</label>
            <input asp-for="Password" type="text" class="form-control" id="validationDefault02" placeholder="">
            <span asp-validation-for="Password"></span>

            <label for="validationDefault02">ConfirmPassword</label>
            <input asp-for="ConfirmPassword" type="text" class="form-control" id="validationDefault02" placeholder="">
            <span asp-validation-for="ConfirmPassword"></span>
            <br />
            <div>
                <input class="btn btn-primary" type="submit" value="Register" />
            </div>

        </div>
    </div>
</form>
